{% extends "base.html" %}
{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>
<br>



<h1 class="text-center whitey "> Looking for work? </h1>

<br>

<div class="container w-50" id="benefitsAccordion">
    <div class="row">
        <div class="accordion">
<!-- Competitive Compensation -->
            <div class="">
                <div class="card-header" id="compensationHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#compensationCollapse" aria-expanded="true" aria-controls="compensationCollapse">
                            Competitive Compensation
                        </button>
                    </h2>
                    
                </div>

                <div id="compensationCollapse" class="collapse show" aria-labelledby="compensationHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Receive a competitive salary that reflects your skills and experience in the industry.
                    </div>
                </div>
            </div>
<!-- Health and Wellness Programs -->
            <div class="">
                <div class="card-header" id="wellnessHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#wellnessCollapse" aria-expanded="true" aria-controls="wellnessCollapse">
                            Health and Wellness Programs
                        </button>
                    </h2>
                    
                </div>

                <div id="wellnessCollapse" class="collapse" aria-labelledby="wellnessHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Access comprehensive health and wellness programs, including medical, dental, and vision coverage, to ensure your well-being.
                    </div>
                </div>
            </div>
<!-- 401(k) Retirement Plan -->
            <div class="">
                <div class="card-header" id="retirementHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#retirementCollapse" aria-expanded="true" aria-controls="retirementCollapse">
                            401(k) Retirement Plan
                        </button>
                    </h2>
                    
                </div>

                <div id="retirementCollapse" class="collapse" aria-labelledby="retirementHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Plan for your future with a 401(k) retirement savings plan, with employer matching contributions.
                    </div>
                </div>
            </div>
<!-- Professional Development Opportunities -->
            <div class="">
                <div class="card-header" id="developmentHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#developmentCollapse" aria-expanded="true" aria-controls="developmentCollapse">
                            Professional Development Opportunities
                        </button>
                    </h2>
                    
                </div>

                <div id="developmentCollapse" class="collapse" aria-labelledby="developmentHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Take advantage of continuous learning and growth through professional development programs, workshops, and training sessions.
                    </div>
                </div>
            </div>
<!-- Paid Time Off -->
            <div class="">
                <div class="card-header" id="ptoHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#ptoCollapse" aria-expanded="true" aria-controls="ptoCollapse">
                            Paid Time Off
                        </button>
                    </h2>
                    
                </div>

                <div id="ptoCollapse" class="collapse" aria-labelledby="ptoHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Recharge and relax with a generous paid time off policy, allowing you to take vacations, holidays, and personal days.
                    </div>
                </div>
            </div>
<!-- Solar Panel Discounts -->
            <div class="">
                <div class="card-header" id="solarHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#solarCollapse" aria-expanded="true" aria-controls="solarCollapse">
                            Solar Panel Discounts
                        </button>
                    </h2>
                    
                </div>

                <div id="solarCollapse" class="collapse" aria-labelledby="solarHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Benefit from exclusive discounts on solar panels and related products to support sustainable living.
                    </div>
                </div>
            </div>
<!-- Team Building Activities -->
            <div class="">
                <div class="card-header" id="teamHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#teamCollapse" aria-expanded="true" aria-controls="teamCollapse">
                            Team Building Activities
                        </button>
                    </h2>
                    
                </div>

                <div id="teamCollapse" class="collapse" aria-labelledby="teamHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Engage in team-building events and activities to foster a positive and collaborative work environment.
                    </div>
                </div>
            </div>
<!-- Community Engagement Opportunities -->
            <div class="">
                <div class="card-header" id="communityHeading">
                    <h2 class="mb-0">
                        <button class="btn buttonBeautiful btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#communityCollapse" aria-expanded="true" aria-controls="communityCollapse">
                            Community Engagement Opportunities
                        </button>
                    </h2>
                    
                </div>

                <div id="communityCollapse" class="collapse" aria-labelledby="communityHeading" data-bs-parent="#benefitsAccordion">
                    <div class="card-body">
                        Participate in community service initiatives and contribute to projects that align with Sunset's commitment to sustainability and social responsibility.
                    </div>
                </div>
            </div>
{% comment %}  {% endcomment %}
        </div>
    </div>
</div>

<div class='d-flex justify-content-center mt-4'><hr class='w-50'></div>

<br>

<h1 class="text-center"> Apply now </h1>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <form action="{% url "career" %}" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn buttonBeautiful btn-primary">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

{% endblock content %}
