{% extends "base.html" %}
{% block content %}

<br>
<br>
<br>
<div class="container sunset mt-5 w-50" id='contactForm'>
  <br>
  <hr>
  <h2>Contact Us</h2>
  <p>We'd love to hear from you! Reach out using the form below:</p>

  <form>
    <div class="mb-3">
      <input type="text" class="form-control" id="fullName" name='name' placeholder="Enter your full name">
    </div>
    
    <div class="mb-3">
      <input type="email" class="form-control" id="email" name='email' placeholder="Enter your email">
    </div>

    <div class="mb-3">
      <textarea class="form-control" id="message" name='note' rows="4" placeholder="Enter your message"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <br>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                  <hr>
                    Buissness Office: 901-465-8592
                    <br>
                    Home Office: 901-943-9162
                    <br>
                    Email: support@sunsetsolar.com
                  <hr>
                </div>
            </div>
        </div>
    </div>
</div>

<br>


{% endblock content %}