{% extends "base.html" %}
{% block content %}
{% comment %} to payments "https://donate.stripe.com/fZe01m0pcfDt6B2dQQ" {% endcomment %}
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>
<p> this is the donate screen </p>


{% endblock content %}